body {
    text-align: center;
    color:rgb(1, 1, 141);
    
}

.parent {
    background-color:rgb(155, 161, 250);
    background-size: 100%;
    width: 400px;
    height: 400px;
    border-radius: 15px 15px 15px 15px ;
    margin: 0 auto;
}

#inputBudget {
    border-radius: 10px 10px 10px 10px;
    text-align: left;
    margin-left: -180px ;
    border: 1px solid black;
}

#rent {
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    border: 1px solid black;
}

h3 {
    text-align: left; 
    padding-left: 20px;
    padding-top: 10px;
}

#utilities {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
}

#description {
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
}

#newPurchase {
    background-color: lightsalmon;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    width: 400px;
    height: 130px;
}

#description {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
}

#price {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
}

#compute {
    margin: 30px 20px 20px 20px;
    padding: 10x 15px 15px 15px ;
    border-radius: 5px 5px 5px 5px ;
}
button {
    background-color: blue;
    width: 200px;
    color: white;
    padding: 5px 15px 5px 15px;
    margin: 25px 0 0 0 ;
    border-radius: 10px 10px 10px 10px;
}